## Practice Exercise

**Objective**: Practice performing CRUD operations.
**Perform the following tasks:**
1. Create a new table named `Books`, with the following columns:
- BookID (Primary Key, auto-increment)
- Title (Title of the book)
- Author
- Genre
- Publication_Year
- Price
2. Insert at least 3 new books into the `Books` table.
3. Retrieve all books from the Books table.
4. Update the price of a specific book.
5. Delete a book from the table.

In [1]:
%pip install ipython-sql

%load_ext sql

%sql sqlite:///sql-exercise.db

Requirement already satisfied: ipython-sql in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in d:\仕事\technical\01_onecodecamp-bootcamp\01_code\dph02\venv\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

1. Create a new table named `Books`, with the following columns:
- BookID (Primary Key, auto-increment)
- Title (Title of the book)
- Author
- Genre
- Publication_Year
- Price

In [2]:
%%sql CREATE TABLE IF NOT EXISTS Books (
    book_id INT PRIMARY KEY,
    title VARCHAR(50) NOT NULL,
    author VARCHAR(50) NOT NULL,
    genre VARCHAR(50),
    publication_year DATE,
    price DECIMAL(10, 2) NOT NULL
);

 * sqlite:///sql-exercise.db
Done.

[]

2. Insert at least 3 new books into the `Books` table.

In [3]:
%%sql

INSERT INTO Books (book_id, title, author, genre, publication_year, price)
VALUES (1, "Parry Hotter", "KJ Rowling", "Fantasy", "2001-09-11", 4.99),
        (2, "50 Shades of Dr. Dre", "ET James", "Romance", "2014-08-23", 2.75),
        (3, "Banger Games", "Suzy Q", "Dystopian Fiction", "2008-02-14", 3.99);

 * sqlite:///sql-exercise.db
3 rows affected.

[]

3. Retrieve all books from the Books table.

In [4]:
%sql SELECT * FROM Books;

 * sqlite:///sql-exercise.db
Done.

[(1, 'Parry Hotter', 'KJ Rowling', 'Fantasy', '2001-09-11', 4.99),
 (2, '50 Shades of Dr. Dre', 'ET James', 'Romance', '2014-08-23', 2.75),
 (3, 'Banger Games', 'Suzy Q', 'Dystopian Fiction', '2008-02-14', 3.99)]

4. Update the price of a specific book.

In [5]:
%%sql

UPDATE Books 
SET price = 3.00
WHERE book_id = 2;

 * sqlite:///sql-exercise.db
1 rows affected.

[]

5. Delete a book from the table.

In [6]:
%sql DELETE FROM Books WHERE book_id = 3;

 * sqlite:///sql-exercise.db
1 rows affected.

[]

In [7]:
%sql SELECT * FROM Books;

 * sqlite:///sql-exercise.db
Done.

[(1, 'Parry Hotter', 'KJ Rowling', 'Fantasy', '2001-09-11', 4.99),
 (2, '50 Shades of Dr. Dre', 'ET James', 'Romance', '2014-08-23', 3)]